### Erlang Stuff ###
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*
edebug/*
etesting/*
*.ast
*.core
.concrete/DEV_MODE
.rebar
.bkup
.log
### END - Erlang Stuff ###
node_modules
jsbin/*
/doc/Technical_Report/Jarlang Technical Report.aux
/doc/Technical_Report/Jarlang Technical Report.bbl
/doc/Technical_Report/Jarlang Technical Report.blg
/doc/Technical_Report/Jarlang Technical Report.log
/doc/Technical_Report/Jarlang Technical Report.synctex.gz
